/* || Variables */
:root {
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-oswald: 'Oswald', sans-serif;

  --drk-blue: #2E323F;
  --l-drk-blue: #3B4050;
  --grey-blue: #6F737F;
  --white: #fff;
  --mustard: #A59678;

  --l-grey: #ECECEC;
}

/* || General */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, ul, li, a, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2em;
}

.row {
  display: flex;
}

header {
  padding: 1em 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  cursor: pointer;
  opacity: .5;
  text-decoration: underline;
}

.menu ul li a, .btn a {
  color: var(--white);
}

.btn a:hover, .btn a:focus {
  text-decoration: none;
}

.footer-ul li a {
  color: rgba(255, 255, 255, .5);
}

/* || Typography */

h1, h2, h3, .btn {
  font-family: var(--ff-oswald);
}

body {
  font-family: var(--ff-montserrat);
  font-size: 1.125rem;
}

body p {
  line-height: 1.5;
}

header {
  background-color: var(--drk-blue);
  font-family: var(--ff-oswald);
}

.nav-item {
  text-transform: uppercase;
}

.intro .title {
  font-size: 3.625rem;
}

.intro p {
  font-size: 1.25rem;
}

.btn {
  background-color: var(--mustard);
  border: none;
  border-radius: 100px;
  color: var(--white);
  font-size: 1.125rem;
  padding: .15em 1em;
}

.learn-btn {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.sec-3 .col p {
  font-size: 1.3125rem;
}

.three-children .col p {
  font-size: unset;
}

.footer-title {
  font-size: 2.5rem;
}

.footer .col h3 {
  font-size: 1.3125rem;
}

.footer .col p {
  font-size: 1rem;
}

.footer .col ul li {
  font-size: 1rem;
}

/* || Navbar */

.logo {
  height: 30px;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  background: transparent;
  color: #FFF;
  transition: opacity 250ms ease;

  position: absolute;
  right: 2.75em;
  top: 12px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: .75;
}

.harmburger {
  position: relative;
  width: 50%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--white);
  display: block;
  height: 3px;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.menu {
  background-color: var(--drk-blue);
  height: 0;
  margin-top: 2.68em;
  padding-bottom: 1em;
  position: absolute;
  right: .06em;
  text-align: center;
  visibility: hidden;
  width: 100%;
}

.menu-visible {
  background-color: rgba(46, 50, 63, .90);
  height: auto;
  visibility: visible;
}

.nav-list_secondary {
  margin-top: 1.5em;
}

.nav-item + .nav-item {
  margin-top: .5em;
}

/* || Intro */

body {
  color: var(--white);
}

.intro {
  background-color: var(--l-drk-blue);
  padding-top: 2em;
  padding-bottom: 4em;
}

.intro .title {
  line-height: 1.25;
  margin-bottom: .5em;
}

.intro .title span {
  color: var(--mustard);
}

.learn-btn {
  margin-top: 1em;
  padding: .15em 1.45em;
}

/* || Section General */

.sec-title {
  color: var(--mustard);
  margin-bottom: .5em;
}

/* || Section 2 */

.sec-2 {
  background-color: var(--l-grey);
  color: var(--l-drk-blue);
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}

.sec-2 .container .col:nth-last-child(-n+2) {
  margin-top: 1em;
}

/* || Section 3 */

.sec-3 .container {
  padding-bottom: 2em;
  padding-top: 2em;
}

.sec-3 .container > .col {
  color: var(--l-drk-blue);
}

.body-img {
  margin: 2em 0;
  width: 100%;
}

.three-children {
  margin-top: 2em;
}

.three-children .col {
  background-color: var(--l-drk-blue);
  margin-bottom: 2em;
  padding: 2em;
  text-align: center;
}

.three-children-title {
  color: var(--white);
}

/* || Footer */

.footer {
  background-color: var(--l-drk-blue);
  padding-bottom: 2em;
  text-align: center;
}

.footer .container .col {
  color: rgba(255, 255, 255, .5);
}

.footer-title {
  margin: 0 auto;
  max-width: 250px;
  padding: 1em 0;
}

.footer .container .col:nth-last-child(-n+2) {
  padding-top: 1.5em;
}

.footer .col h3 {
  padding-bottom: .5em;
}

.footer-ul li {
  line-height: 2;
}

/* || Tablet Styles */

@media screen and (min-width: 700px) and (max-width: 999px) {
  .nav-toggle {
    visibility: hidden;
  }

  .menu {
    align-items: center;
    display: flex;
    height: auto;
    margin-top: 0;
    padding-bottom: 0;
    position: static;
    visibility: visible;
  }

  .nav-list_primary,
  .nav-list_secondary {
    align-items: center;
    display: flex;
  }

  .nav-list_primary {
    margin-left: auto;
  }

  .nav-list_secondary {
    margin: 0 0 0 2em;
  }

  .nav-item + .nav-item {
    margin-left: 1em;
    margin-top: 0;
  }

  .intro .container {
    display: flex;
    gap: 1em;
  }

  .intro .container .col {
    align-self: flex-end;
  }

  .intro .title {
    font-size: 4.5em;
    line-height: 1;
    margin-bottom: 0;
  }

  .sec-2 .container {
    display: flex;
    gap: 1em;
  }

  .sec-2 .container .col:nth-last-child(-n+2) {
    margin-top: 0;
  }

  .three-children {
    display: flex;
    gap: 1em;
  }

  .footer {
    text-align: justify;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    max-width: none;
    text-align: center;
  }

  .footer .container .col:first-child {
    margin-right: 1.5em;
    max-width: 400px;
  }

  .footer .container .col:nth-last-child(-n+2) {
    margin-left: 1.5em;
    padding-top: 0;
  }
}

/* || Desktop Styles */

@media screen and (min-width: 1000px) {
  .container {
    padding: 0 4em;
  }

  .logo {
    padding-left: 0;
  }

  .nav-toggle {
    visibility: hidden;
  }

  .menu {
    align-items: center;
    display: flex;
    height: auto;
    margin-top: 0;
    padding-bottom: 0;
    position: static;
    visibility: visible;
  }

  .nav-list_primary,
  .nav-list_secondary {
    align-items: center;
    display: flex;
  }

  .nav-list_primary {
    margin-left: auto;
  }

  .nav-list_secondary {
    margin: 0 0 0 2em;
  }

  .nav-item + .nav-item {
    margin-left: 1em;
    margin-top: 0;
  }

  .intro .container {
    display: flex;
  }

  .intro .title {
    font-size: 5.625rem;
    line-height: 1;
    margin-bottom: 0;
  }

  .intro .container .col {
    align-self: flex-end;
  }

  .intro p {
    font-size: 1.5rem;
  }

  .sec-2 .container {
    display: flex;
  }

  .sec-2 .container .col:nth-last-child(-n+2) {
    margin-top: 0;
  }

  .sec-3 {
    padding: 4em 0;
  }

  .sec-3 .container {
    display: flex;
    gap: 1em;
  }

  .sec-3 .container > .col {
    margin-right: 3em;
  }

  .three-children {
    margin-top: 0;
  }

  .three-children .col {
    margin-bottom: 1em;
    padding: 1em;
  }

  .footer {
    text-align: justify;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    max-width: none;
    text-align: center;
  }

  .footer .container .col:first-child {
    margin-right: 1.5em;
    max-width: 430px;
  }

  .footer .container .col:nth-last-child(-n+2) {
    margin-left: 1.5em;
    padding-top: 0;
  }
}
